%ul
	%li#mobile-search
		= render :partial => "/mobile/search"
		%i#search-icon.icon-search
	- if signed_in?
		%li.edit-profile
			%i.icon-user
			Edit Profile
		%li#sign_out_link.mobile_sign_out
			%i.icon-signout
			Sign Out
	- else
		%li.sign-up
			%i.icon-user
			Sign Up
		%li.sign-in
			%i.icon-signin
			Sign in
	%li.find-hydrants
		%i.icon-hydrant
		View Hydrants
	%li.about
		%i.icon-info-sign
		About
= render :partial => "layouts/flash", :locals => {:flash => flash}