%ul
	%li#mobile-search
		= render :partial => "/mobile/search"
	- if signed_in?
		%li#edit_profile_link
			%i.icon-user
			%span Edit Profile
		%li#sign_out_link.mobile_sign_out
			%i.icon-exit
			%span Sign Out
	- else
		%li.sign-up
			%i.icon-user
			%span Sign Up
		%li.sign-in
			%i.icon-enter
			%span Sign in
	%li.find-hydrants
		%i.icon-map-marker
		%span Find Hydrants
= render :partial => "layouts/flash", :locals => {:flash => flash}