@media (max-width: 767px) {
  
@font-face {
  font-family: 'fontawesome';
  src:url('mobileiconfont/fontawesome.eot');
  src:url('mobileiconfont/fontawesome.eot?#iefix') format('embedded-opentype'),
    url('mobileiconfont/fontawesome.woff') format('woff'),
    url('mobileiconfont/fontawesome.ttf') format('truetype'),
    url('mobileiconfont/fontawesome.svg#fontawesome') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'fontawesome';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-reorder, .icon-signin, .icon-signout, .icon-search, .icon-user, .icon-map-marker, .icon-hydrant, .icon-info-sign, .icon-ok, .icon-remove {
  font-family: 'fontawesome';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-reorder:before {
  content: "\f0c9";
}
.icon-signin:before {
  content: "\f090";
}
.icon-signout:before {
  content: "\f08b";
}
.icon-search:before {
  content: "\f002";
}
.icon-user:before {
  content: "\f007";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-hydrant:before {
  content: "\e000";
}
.icon-info-sign:before {
  content: "\f05a";
}
.icon-ok:before {
  content: "\f00c";
}
.icon-remove:before {
  content: "\f00d";
}

  body {
    background: #464B4D;
  }

  #sidebar {
    display: none;
  }

  .form-actions {
    background: transparent;
    margin: 0;
    padding: 15px 0;
    border: none;
  }

  #common_fields .control-group:last-child, #back_link {
    display: none;
  }

  #mobile-page {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
    transition: left .2s;
    -moz-transition: left .2s;
    -webkit-transition: left .2s;
    -o-transition: left .2s;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
  }

  #mobile-nav {
    transition: left .2s;
    -moz-transition: left .2s;
    -webkit-transition: left .2s;
    -o-transition: left .2s;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
  }
  
  .map-container {
    position: relative;
    top: 50px;
    z-index: -1;
    transition: left .2s;
    -moz-transition: left .2s;
    -webkit-transition: left .2s;
    -o-transition: left .2s;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
  }

  .map-active {
    z-index: 1 !important;
  }

  #mobile-nav ul {
    transition: left .2s;
    -moz-transition: left .2s;
    -webkit-transition: left .2s;
    -o-transition: left .2s;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
  }

  .slide {
    left: 270px !important;
  }
  .slide #mobile-page {
    z-index: 10 !important;
  }
  .slide-nav {
    left: 0px;
  }
  
  #page-contents {
    background: white;
    position: absolute;
    min-height: 100%;
    width: 100%;
    top: 50px;
  }
  .content-wrapper {
    width: 210px;
    margin: 20px auto 20px auto;
  }

  .mobile-flash, .mobile-page-header {
    width: 100%;
    height: 20px;
    padding: 6px 0;
    text-align: center;
  }

  .mobile-flash {
    width: 100%;
    position: absolute;
    top: 50px;
    padding: 10px 0;
    border-radius: 0px;
    border-left: 0;
    border-right: 0;
    border-top: 0;
  }

  .mobile-page-header {
    background: rgb(255,255,255); /* Old browsers */
  background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255,255,255,1)), to(rgba(240,240,240,1)));
  background: -webkit-linear-gradient(rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
  background: -moz-linear-gradient(rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
  background: -o-linear-gradient(rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%);
  background: linear-gradient(rgba(255,255,255,1) 0%, rgba(240,240,240,1) 100%); /* FF3.6+ */ /* Chrome,Safari4+ */ /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */ /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
    border-bottom: 1px solid rgba(0,0,0,.13);
    box-shadow: inset 0px 10px 30px rgba(255,255,255,.35);
    color: white;
  }

  .mobile-page-header h4 {
    font-weight: 700;
    line-height: 1.4em;
    color: rgba(0,0,0,.64);
  }

  #mobile-head {
    height: 38px;
    width: 100%;
    padding: 6px 0;
    position: fixed;
    top: 0;
    z-index: 10;
    background: #eb473f;
    border-bottom: 1px solid rgba(0,0,0,.2);
    box-shadow: inset 0px 1px 3px rgba(255,255,255,.35);
  }

  #mobile-head h1 {
    margin-top: 0;
    text-align: center;
    color: white;
    line-height: 1.8em;
    font-size: 1.6em;
    text-shadow: 1px 1px 1px rgba(0,0,0,.2);
  }

  #nav-button, #search-button {
    width: 37px;
    height: 36px;
    margin: 0 6px;
    background: #dd423e;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0px 1px 1px rgba(255,255,255,.2), inset 0px 0px 10px rgba(255,255,255,.1), inset 0px 0px 1px rgba(0,0,0,.1);
    border-radius: 3px;
  }

  #nav-button {
    float: left;
  }

  #nav-button i, #search-button i {
    color: white;
    font-size: 28px;
    position: relative;
    top: 3px;
    left: 6px;
  }

  #search-button i {
    left: 8px;
    font-size: 27px;
  }

  #nav-button.nav-active {
    background: #C73B38;
  }

  #search-button {
    float: right;
  }
  
  #mobile-nav {
    width: 270px;
    left: -270px; 
    position: fixed;
    top: 0;
    height: 100%;
  }

  #mobile-nav ul {
    margin: 0;
    height: 100%;
    width: 270px;
    list-style: none;
    background: #313436;
    box-shadow: inset -5px 0px 20px rgba(0,0,0,.2);
    display: block;
    position: absolute;
  }

  .slide-nav ul {
    left: 270px !important;
  }

  #mobile-nav li {
    padding: 15px;
    height: 20px;
    font-size: 1.3em;
    color: #e2edef;
    background: #3c4041;
    box-shadow: inset -20px -1px 30px -16px rgba(0,0,0,.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,.2);
    border-bottom: 1px solid rgba(0,0,0,.15);
  }

  #mobile-nav li:first-child {
    background: #464B4D;
    box-shadow: inset 0px 10px 23px rgba(255,255,255,.14);
    border-bottom: 1px solid rgba(0,0,0,.22);
    padding: 8px 6px 22px 6px;
  }

  #address {
      width: 214px;
      height: 20px;
      padding: 5px 10px 5px 32px;
      border-radius: 20px;
  }

  #mobile-nav li:last-child {
    border-bottom: 0;
  }

  #mobile-nav li i {
    font-size: 24px;
    position: relative;
    top: -3px;
    margin-right: 24px;
  }
  

  #search-icon {
    font-size: 16px !important;
    color: rgba(0,0,0,.7);
    position: absolute;
    margin-top: -22px;
    left: 12px;
  }

  

  .selected-nav-item {
    background: #dd423e !important;
  }
  

}
